replicaCount: 1

image:
  repository: ykarabanov/devops-tools-welcome
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5000

ingress:
  enabled: true
  hostname: devops-tools-dev.speechpro.com


nodeHost: "devops-tools-dev.speechpro.com"  # Можно задать публичный хост, для NodePort кнопок
